body {
    background-color: #794DC6;
}

.spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin: 300px auto;
}

.spinner:after, .spinner:before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.spinner-1:after {
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-top-color: #fff;
    border-bottom-color: #fff;
    -webkit-animation: spinny 1.5s linear infinite;
        -ms-animation: spinny 1.5s linear infinite;
            animation: spinny 1.5s linear infinite;
}

@-webkit-keyframes spinny {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
            -ms-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(45deg) scale(1.2);
            -ms-transform: rotate(45deg) scale(1.2);
                transform: rotate(45deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
            -ms-transform: rotate(360deg) scale(1);
                transform: rotate(360deg) scale(1);
    }
}

@keyframes spinny {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
            -ms-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(45deg) scale(1.2);
            -ms-transform: rotate(45deg) scale(1.2);
                transform: rotate(45deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
            -ms-transform: rotate(360deg) scale(1);
                transform: rotate(360deg) scale(1);
    }
}

.spinner-2 {
    -webkit-animation: spin 2s linear infinite;
        -ms-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
}

.spinner-2:before, .spinner-2:after {
    height: 20px;
    width: 20px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -10px;
    -webkit-animation: bouncy 1s ease-in infinite;
        -ms-animation: bouncy 1s ease-in infinite;
            animation: bouncy 1s ease-in infinite;
}

.spinner-2:after {
    top: auto;
    bottom: -5px;
    -webkit-animation: bouncy 0.5s ease-in infinite;
        -ms-animation: bouncy 0.5s ease-in infinite;
            animation: bouncy 0.5s ease-in infinite;
}

@-webkit-keyframes bouncy {
    0%, 100% {
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(25px);
            -ms-transform: translateY(25px);
                transform: translateY(25px);
    }
}

@keyframes bouncy {
    0%, 100% {
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(25px);
            -ms-transform: translateY(25px);
                transform: translateY(25px);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.spinner-3 {
    height: 0;
    width: 0;
}

.spinner-3 span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    background-color: #fff;
}

.spinner-3 span:nth-child(1) {
    left: -40px;
    -webkit-animation: bounce 1s ease-in-out infinite;
        -ms-animation: bounce 1s ease-in-out infinite;
            animation: bounce 1s ease-in-out infinite;
}

.spinner-3 span:nth-child(2) {
    -webkit-animation: bounce 1s ease-in-out 0.33s infinite;
        -ms-animation: bounce 1s ease-in-out 0.33s infinite;
            animation: bounce 1s ease-in-out 0.33s infinite;
}

.spinner-3 span:nth-child(3) {
    left: 40px;
    -webkit-animation: bounce 1s ease-in-out 0.66s infinite;
        -ms-animation: bounce 1s ease-in-out 0.66s infinite;
            animation: bounce 1s ease-in-out 0.66s infinite;
}

@-webkit-keyframes bounce {
    0%, 75%, 100% {
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }
    25% {
        -webkit-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
                transform: translateY(-30px);
    }
}

@keyframes bounce {
    0%, 75%, 100% {
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }
    25% {
        -webkit-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
                transform: translateY(-30px);
    }
}